<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav">
        <span class="nav-menu-bar" style="font-size:40px;cursor:pointer;color:white;" (click)="openNav()">&#9776;</span>
        <div class="svlogo navbar-brand"><a routerLink="/home"><img src="assets/images/logo_black_compressed.png" alt="logo-img" class="logo-image"></a></div>
    </div>
  </div>
</nav>

<div class="overlay" id="dropdownMenuLink">
  <span class="closebtn" (click)="closeNav()">&times;</span>
  <!-- <a href="#" class="closebtn">&times;</a> -->
  <ul class="container-fluid overlay-content" >
   <li class="col-sm-4">
     <ul>
       <li class="dropdown-header">PRODUCTS</li>
       <li class="overlay-content-item" (click)="closeNav()"><a routerLink="/products/sv-1">SV-1 RealWave Pocket Analyzer</a></li>
       <li class="overlay-content-item" (click)="closeNav()"><a routerLink="/products/pa-201">PA-201 3 Channel RealWave Analyzer</a></li>
       <li class="overlay-content-item"><a href="#">PM-101 Vibration Level Meter</a></li>
       <li class="overlay-content-item"><a href="#">S11 Sound Level Meter</a></li>
       <li class="overlay-content-item"><a href="#">ST1 Tachometer</a></li>
       <li class="overlay-content-item"><a href="#">Microphone</a></li>
       <li class="overlay-content-item"><a href="#">Speed Indicator</a></li>
       <li class="overlay-content-item"><a href="#">MA-301 Low Frequency Accelerometer</a></li>
       <li class="overlay-content-item"><a href="#">Time of Flight</a></li>
       <li class="divider"></li>
     </ul>
   </li>
   <li class="col-sm-4">
     <ul>
       <li class="dropdown-header">SENSORS</li>
       <li class="overlay-content-item"><a href="#">Laser Speed Sensor</a></li>
       <li class="overlay-content-item"><a href="#">Laser Displacement Sensor</a></li>
       <li class="overlay-content-item"><a href="#">Laser Distance Sensor</a></li>
       <li class="overlay-content-item"><a href="#">Magnetic Speed Sensor</a></li>
       <li class="overlay-content-item"><a href="#"> Hall Effect Speed Sensor</a></li>
       <li class="overlay-content-item"><a href="#">Infrared Temperature Sensor</a></li>
       <li class="divider"></li>
     </ul>
   </li>
   <li class="col-sm-4">
     <ul>
       <li class="dropdown-header">SOLUTIONS BY AREAS</li>
       <li class="overlay-content-item"><a href="#">Related Products</a></li>
       <li class="overlay-content-item"><a href="#">Case Studies</a></li>
       <!-- <li class="divider"></li> -->
     </ul>
   </li>
   <li class="col-sm-4">
     <ul>
       <li class="dropdown-header">ABOUT</li>
       <li class="overlay-content-item"><a href="#">About SV Digital</a></li>
       <li class="overlay-content-item"><a href="#">Technical Support</a></li>
       <li class="overlay-content-item"><a href="#">Our Clients</a></li>
       <li class="overlay-content-item"><a href="#">Distributors</a></li>
       <li class="divider"></li>
     </ul>
   </li>
  </ul>
</div>
