nav{
  background-color: black;
  opacity: 0.7;
  height: 60px;
  z-index: 100;
  margin-bottom: 0;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 121;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  color: white;
  overflow-y: hidden;
  transition: 0.5s;
}

.col-sm-4{
  padding-left: 0;
  padding-right: 0;
}

.nav-menu-bar {
  right: 20px;
  display: block;
  position: absolute;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    /*text-align: center;*/
}

.overlay-content-item{
  font-size: 1.7vw;
}

.overlay a {
    padding: 6.5px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn {
    position: absolute;
    right: 45px;
    font-size: 60px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.svlogo {
  font-weight: bold;
  font-style: 'Alfa Slab One', cursive;
  color: white;
  font-size: 30px;
  padding-left: 15px;
}

ul{
  list-style-type: none;
}

.dropdown-header {
  font-size: 3vw;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  white-space: pre-wrap;
}
