<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
          <img src="assets/images/menu-bar.png" class="nav-menu-bar" height="5%" width="7%">
        </a>
      <div class="dropdown-menu">
         <div class="dropdown-header">
          <h2>Mega Menu</h2>
         </div>
          <div class="dropdown-menu-largerow">
            <div class="col-lg-3">
              <h3>SV1 RealWave Analyzer</h3>
              <a href="#" class="dropdown-item" >Link 1</a>
              <a href="#" class="dropdown-item">Link 2</a>
              <a href="#" class="dropdown-item">Link 3</a>
            </div>
            <div class="col-lg-3">
                <h3></h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              <div class="col-lg-3">
                <h3>Category 3</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </div>

        </div>

        <div class="svlogo navbar-brand">SV Digital</div>
    </div>
  </div>
</nav>
