<app-contact-form></app-contact-form>
<footer class="footer-group">
  <div class="container-fluid footer-area">
    <div class="sv-logo text-center">
      <img src="assets/images/sv-logo-resized.png" alt="sv-logo" class="footer-logo" height="70" width="110">
      <p>Sound & Vibration Expert</p>
    </div>
    <div class="footer-branch text-center">
      <span class="sv-korea">SV Korea</span>
      <span class="sv-korea">SV India</span>
      <span class="sv-korea">SV China</span>
    </div>
    <div class="line text-center"></div>
    <div class="footer-copyright text-center">
      <p>©2018 SV Corporation. All Rights Reserved</p>
    </div>

  </div>

</footer>
