
.product-page-sv-1{
  background-color: white;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

h2{
  font-size: 2.8vw;
}

.product-page-section-2 > h2{
  margin-bottom: 5vw;
}

.product-page-features{
  padding-top: 20vh;
  font-size:4vw;
  text-align: center;
}

.product-feature-title{
  margin-top: 10vh;
  display: block;
  clear:both;
}

.product-description-1 {
  margin-top: 16vw;
  margin-left: 50px;
}

.product-descriptions-right {
  font-size: 1.9vw;
  padding-top: 10px;
  width: 70%;
  float:right;
  position: relative;
  display: inline-block;
}

.product-image{
  width: 37vw;
  padding-left:6vw;
}

.product-image-3{
  width: 36vw;
}

.product-image-4{
  width: 40vw;
  padding-top: 5vh;
  display: inline-block;
}

.product-image-right{
  display: inline-block;
  width: 30vw;
  height: auto;
  position:relative;
  right: 190px;
  z-index: 1;
  top:10px;
  padding-left: 0 !important;
}

.product-image-center{
  margin-top: 7vh;
  margin-bottom: 5vh;
  height: auto;
}

.product-image-left{
  padding-top: 5vh;
}

figure{
  display: inline-block;
}

figcaption{
  text-align: center;
  font-size: 1.2vw;
  padding-top: 2vh;
  padding-bottom: 7vh;
}

.image-description{
  padding-left: 6vw;
}
