<div class="container-fluid product-top-section">
  <h1> SV1 Seismic / Human Response Vibration & Sound Analyzer</h1>
</div>

<div class="container-fluid product-page-sv-1 product-page-section-1">
  <div class="product-description-title">
    <h2>Versatile software measuring Seismic/Human Vibration & Sound monitoring and analysis on portable rugged system.
    </h2></div>
    <ul class="product-descriptions">
      <li>Seismic Monitoring</li>
      <li>Mining Monitoring</li>
      <li>Ground Vibration Monitoring</li>
      <li>Pile Driving</li>
      <li>Construction Field</li>
      <li>Bridge Monitoring</li>
      <li>Factory Floor Vibration Monitoring</li>
      <li>Power Plant Monitoring</li>
      <li>Building Vibration Monitoring</li>
    </ul>
    <img src="assets/images/SV1-basic.jpg" alt="sv1-product-img" class="product-image product-image-main">
</div>
<div class="product-page-features">Features</div>
<div class="container-fluid product-page-sv-1 product-page-section-2">
  <h2>Seismic Vibration & Sound Measurement</h2>
  <h3 class="product-feature-title">Vibration</h3>
  <ul class="product-descriptions">
    <li>Provide the influence evaluation data nearby Structure : 3axis peak and PVS(mm/sec)</li>
    <li>Vibration Measuring Range : 250 mm/sec</li>
    <li>Frequency Range : 0.5 ~ 200Hz for each channel(option 500Hz)</li>
    <li>Vibration Accuracy : Less than 1%</li>
    <li>Vibration Resolution: 0.01 mm/sec</li>
    <li>Vibration Measuring Sample Rate: 1024 samples/sec</li>
    <li>Storage Sample Rate: 1024 samples/sec</li>
  </ul>
  <img src="assets/images/feature-seismic-vibration.png" alt="sv1-product-img" class="product-image">
  <h3 class="product-feature-title">Sound</h3>
  <ul class="product-descriptions">
    <li>Sound Measuring Range: 35 ~ 140 dB</li>
    <li>Frequency Weighting Filter : A and L</li>
    <li>Frequency Range : 20 Hz ~ 8000 Hz</li>
    <li>Sound Accuracy : IEC 60651 Type2</li>
    <li>Sound Data : Simultaneously Lmax, Lmin, LeqLn, LeqAv</li>
  </ul>
  <h3 class="product-feature-title">Common Features</h3>
  <ul class="product-descriptions">
    <li>Trigger Level : Set up from 0.1mm/sec to 250 mm/sec</li>
    <li>Measuring Mode : Selectable Manual, Single, Continuous mode (Up to 250 Events)</li>
    <li>Selectable Measurement Time : 1sec, 2sec, 3sec, 5sec, 10sec, 1min, 5min, 30min, 1hr, 1day, User definable time</li>
    <li>Data Storage Capacity: SD Memory Card 4G (Continuously 60 days for the measurement data including Graph)</li>
    <li>Measurement cycle time: no dead time</li>
  </ul>
</div>
<div class="container-fluid product-page-sv-1 product-page-section-3">
  <div class="product-description-title-right">
    <h2>Human Response Vibration & Sound Measurement</h2></div>
    <ul class="product-descriptions-right">
      <li>Measurement Results : Instantaneous Sound Leq, Lmax, Lmin, Statistic Vibration Level L5, L10, L50, L90, L95</li>
      <li>Vibration Frequency Range : 0.5 ~ 80 Hz (up to 500Hz)</li>
      <li>Vibration Measuring Range : 37 up to 156 dB</li>
      <li>Sound Measuring Range : 30 up to 140 dB</li>
      <li>Weighting Filter : A and L</li>
      <li>Sound Frequency Range : 20 Hz ~ 8000 Hz</li>
      <li>Dynamic Range : more than 120 dB</li>
      <li>Selectable Measuring Time :1sec, 2sec, 3sec, 5sec, 10sec, 1min, 5min, 30min, 1hr, 8hr, 1day, User definable set up</li>
      <li>Vibration Trigger Level : set up with 1 dB step from 45dB (to measure the wanted Vibration And Sound Level)</li>
      <li>Measuring Mode : Selectable Manual, Single, Continuous mode up to 250 events</li>
      <li>Data Storage Capacity : SD Memory Card 4GB (Continuously 60days for the measurement data including Graph)</li>
    </ul>
  <img src="assets/images/feature-humanresponse.png" alt="sv1-product-img" class="product-image product-image-3">
</div>
<div class="container-fluid product-page-sv-1 product-page-section-4">
  <div class="product-description-title">
    <h2>Remote Auto Measurement</h2></div>
    <ul class="product-descriptions">
      <li>Communication Type : Internet or LTE</li>
      <li>Remote Data Transmit and Receiving time Control(For Control interval time with Hour, Min, Sec Unit)</li>
      <li>Remote Auto Control up to Max 100 measuring equipments</li>
      <li>Remote Control Trigger Level and Measurement time</li>
      <li>Possible to measure during receiving the measured data</li>
      <li>No need Reset the Equipment by the receiving error (Simultaneously the Measurement and Communication mode)</li>
    </ul>
    <!-- <img src="assets/images/SV1-basic.jpg" alt="sv1-product-img" class="product-image" height="500" width="400"> -->
</div >
<div class="container-fluid product-page-sv-1 product-page-section-5">
  <div class="product-description-title-right">
    <h2>PC Software for Analysis & Reports</h2></div>
    <ul class="product-descriptions-right">
      <li>The user can store the measured data in SD card to do the post processing, analysis and report PC.</li>
      <li>The user can get the report by JIS C1510 and DIN 4150 with this post processing software.</li>
      <li>Time history graph of displacement, acceleration & particle velocity.</li>
      <li>Frequency Vs Energy graph and also in numerical form of above waveform.</li>
      <li>Peak value of displacement, acceleration and particle velocity, frequency and energy release with corresponding time and release.</li>
      <li>F.F.T analysis. The software should have the provision for giving raw data in ASCII and/or standard data base format for use in the third party software.</li>
      <li>Optional Post-processing software(DatsliteNVE) (attached) : ASD(Auto Power Spectral Density), FFT, Trends(Acceleration, Velocity, Displacement), and Digital filtering.</li>
    </ul>
  <img src="assets/images/sv-1-software-1.jpg" alt="sv1-product-img" class="product-image product-image-3">
</div >
