
.product-page-sv-1{
  background-color: white;
  padding-top: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
  /*width: 60%;*/
}

h2{
  font-size: 2.8vw;
}

.product-descriptions{
  display: block;
}

.product-descriptions-right {
  font-size: 1.9vw;
  padding-top: 10px;
  width: 60%;
  float:right;
  position: relative;
  display: inline-block;
}

.product-image{
  float: right;
  display: inline-block;
  width: 40%;
  position:relative;
  z-index: 1;
}

.product-image-main{
  right: 100px;
  z-index: 1;
  position: relative;
  top:10px;
  display: inline-block;
}

.product-image-3{
  padding-top: 250px;
  padding-right: 20px;
  /*padding-left: 50px;*/
}



.product-page-section-2{
  padding-top: 90px;
  display: inline-block;
  height: 620px;
  /*float: right;*/
}

.product-page-features{
  padding-top: 80px;
  font-size:40px;
  text-align: center;
}

.product-description-title-right{
  float:right;
  width: 60%;
  position: relative;
  display: inline-block;
}

.product-page-section-3{
  padding-right: 80px;
}

.product-page-section-5{
  padding-right: 80px;
}
