.product-top-section{
  background-image: url('../../../assets/images/product-top-background.jpg');
  background-size: 100%;
  height: 400px;
}

.product-page-pm-101{
  background-color: white;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.product-image-right{
  width: 100%;
}

.product-page-pm-201 {
  background-color: white;
  padding-left: 10vw;
  display: inline-block;
  margin-bottom: 10vh;
}
