.distributors-continent-tab{
 width: 23.8vw;
 padding-top: 5vh;
 padding-bottom: 5vh;
 font-size: 1.7em;
}

.countries-row{
  margin-left: auto;
  margin-right: auto;
}

.country-box{
  height: 35vh;
  border-collapse: separate;
  margin: 0.5vh;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.country-box:first-child {
  vertical-align:top;
  /*font-size: 1.1em;*/
}

.country-box:second-child {
  vertical-align: middle;
  /*font-size: 2em;*/
  
}

.active{
  border-bottom-style: outset;
}
