<app-header></app-header>
<div class="jumbotron main-body">
  <div class="container text-center">
    <h1 class="main-description">Industrial Measurement in <br> Noise & Vibration</h1>
  </div>
</div>
<div class="main-container">
<div class="container main-part-1">
  <div class="main-part-title-1">
    RealWave Pocket Analyzer
  </div>
</div>
<div class="container main-part-2">
  <div class="main-part-title-2 text-right">
    3 Channel RealWave Pocket Analyzer
  </div>
</div>
<div class="container main-part-3">
  <div class="main-part-title-3">
    Sensors & Accessories
  </div>
</div>
</div>
<!-- <router-outlet></router-outlet> -->
