<div class="jumbotron main-body">
  <div class="container text-center">
    <video autoplay muted loop id="myVideo">
      <source src="assets/videos/video-background.mp4" type="video/mp4" controls>
      <source src="assets/videos/video-background.webm" type="video/webm" controls>
        Your browser does not support HTML5 video.
    </video>
    <h1 class="main-description">Industrial Measurement in <br> Noise & Vibration</h1>
  </div>
</div>
<div class="container-fluid main-industries">
  <div class="main-industries-title">Custom solutions across many industries</div>
  <div class="main-industries-content">SV Digital creates flexible solutions that has broad application across sectors.</div>
</div>
<div class="main-container">
  <div class="container main-part-1">
    <div class="main-part-title-1">
      RealWave Pocket Analyzer
    </div>
  </div>
  <div class="container main-part-2">
    <div class="main-part-title-2 text-right">
      3 Channel RealWave Pocket Analyzer
    </div>
  </div>
  <div class="container main-part-3">
    <div class="main-part-title-3">
      Sensors & Accessories
    </div>
  </div>
</div>
