/* Main page Styling */
.main-body {
  padding-top: 50px;
  height: 800px;
  background-color: black;
  position:relative;
  z-index: 30;
  width: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 800px;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.main-description {
  padding-top: 200px;
  color: white;
  font-size: 4vw;
}

/* Main industries styling */
.main-industries {
  background-color: white;
  z-index: 34;
  position: relative;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.main-industries-title{
  color:black;
  text-align: center;
  font-size: 3vw;
}

.main-industries-content{
  color:black;
  text-align: center;
  font-size: 2vw;
  margin-top: 20px;
  margin-bottom: 7vh;
}

.industry-icon{
  width: 60%;
  position: relative;
  margin-left: 3vw;
  transition: all 0.35s ease-in-out; 
}

.industry-icon:hover{
  transform: scale(1.4)
}

.industry-name{
  color:black;
  font-weight: bold;
  font-size: 1.3vw;
  position: relative;
  padding-top: 1vh;
}

.industry-box{
  display: inline-block;
  position:relative;
  width: 14%;
}

.carousel-img{
  height: 25vw;
  position: relative;
  background-color:rgb(234, 237, 242);
  padding: 3.7vw;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  position: relative;
  padding-top: 3vh;
  font-weight: bold;
  color:black;
  left:auto;
  right: auto;
}


