<div class="jumbotron main-body">
  <div class="container text-center">
    <video autoplay muted loop id="myVideo">
      <source src="assets/videos/video-background.mp4" type="video/mp4" controls>
      <source src="assets/videos/video-background.webm" type="video/webm" controls>
        Your browser does not support HTML5 video.
    </video>
    <h1 class="main-description">Industrial Measurements in <br> Noise & Vibration</h1>
  </div>
</div>
<div class="container-fluid main-industries">
  <div class="main-industries-title">Custom solutions across many industries</div>
  <div class="main-industries-content">SV Digital creates flexible solutions that has broad application across sectors.</div>
  <div class="row industry-row">
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/auto.png" alt="auto-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Automotives</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/building.png" alt="building-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Building Acoustics</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/civil.png" alt="civil-engineering-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Machine Health <br>Monitoring</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/environmental.png" alt="environmental-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Civil Engineering</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/machine.png" alt="machine-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Ship Vibration</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/ship.png" alt="ship-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Environmental<br>Noise & Vibration</div>
    </span>
    <span class="industry-box col-sm-1.8">
      <img src="assets/images/icons/consumer.png" alt="consumer-electronics-icon" class="industry-icon">
      <div class="carousel-caption industry-name">Consumer Electronics</div>
    </span>
  </div>
</div>

<div class="container-fluid carousel-container">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col"><img class="d-block w-100 carousel-img" src="assets/images/SV1-basic.jpg" alt="1 slide">
                      <div class="carousel-caption carousel-text">SV1 Blast/environment vibration analyzer</div></div>
                    <div class="col"><img class="d-block w-100 carousel-img" src="assets/images/PA_201_main1.png" alt="2 slide">
                      <div class="carousel-caption carousel-text">PA201 Smart Sound & Vibration Analyzer</div></div>
                    <div class="col"><img class="d-block w-100 carousel-img" src="assets/images/PM101.jpg" alt="3 slide">
                      <div class="carousel-caption carousel-text">S11 Sound Level Meter</div></div>
                    <div class="col"><img class="d-block w-100 carousel-img" src="assets/images/SV1-basic.jpg" alt="4 slide">
                      <div class="carousel-caption carousel-text">SV1 Blast/environment vibration analyzer</div></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm"><img class="d-block w-100 carousel-img" src="//placehold.it/1200x600/ccff00" alt="4 slide"></div>
                    <div class="col-sm"><img class="d-block w-100 carousel-img" src="//placehold.it/1200x600/444" alt="5 slide"></div>
                    <div class="col-sm"><img class="d-block w-100 carousel-img" src="//placehold.it/1200x600/444" alt="6 slide"></div>
                    <div class="col-sm"><img class="d-block w-100 carousel-img" src="//placehold.it/1200x600" alt="3 slide"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> 
        </a>
    </div>
</div>

  <!-- <div class="container-fluid clients-box">
    <h2>Who's using us?</h2>
    <h3>Here is a partial listing of recent and current SV customers and partners.</h3>
</div> -->
