<div class="container-fluid product-top-section">
  <h1>SA-101 Smart Sound Analyzer</h1>
</div>
<div class="product-page-features">Features & Configurations </div>
<div class="container-fluid product-page-sa-101">
    <div class="product-description-title">
        <h2>Basic Features</h2>
    </div>
    <div class="row">
        <div class="col-sm-8">
          <ul class="product-descriptions">
            <li>IEPE Microphone Connection</li>
            <li>Time Signal Recording, Playback Function(Wave File)</li>
            <li>Real-time Hearing in Measuring Mode(Head Phone Option)</li>
            <li>Sensor Calibration : Sensitivity Calibration by S/W</li>
            <li>Auto Scale(Y-axis) and Peak Detection</li>
            <li>Start Measuring Time Delay Function(pre-trigger)</li>
            <li>Recording Information Setup(Objective and Axis etc.)</li>
            <li>Measurement Configuration Saving, Loading and Recall from File</li>                
            <li>FFT Data Recording and Comparative Analysis(ref File)</li>
            <li>Wave Replay and Select Part Function</li>
            <li>Data Export : Text, Excel, Matlab, BMP, JPEG</li>
            <li>Overload Detector and Alert</li>
        </ul>
        </div>
        <div class="col-sm-4">
            <img src="assets/images/sa101-product-img-nomic.jpg" alt="sa101-product-img-nomic" class="product-image-main">
        </div>
    </div>
</div>
<div class="container-fluid product-page-sa-101-2col">    
    <div class="row">
        <div class="col-sm-6 product-descriptions-2col">
            <div class="product-description-title">
                <h2>Software Options</h2>
            </div>
            <ul class="product-descriptions">
                <li>Sound Level Meter(SLM)</li>
                <li>Frequency Analysis(FFT)</li>
                <li>FFT-based Octave Analysis(OCT)</li>
                <li>Digital Filter-based Octave Analysis(DOCT)</li>
            </ul>
        </div>
        <div class="col-sm-6 product-descriptions-2col">
            <div class="product-description-title">
                <h2>System Configuration</h2>
             </div>
             <ul class="product-descriptions">
                <li>Industrial PDA</li>
                <li>½” Microphone(IEPE Type)</li>
                <li>SD Memory Card</li>
                <li>USB Cable</li>
                <li>Rechargeable Battery</li>
                <li>Battery Charger</li>
                <li>PC Software</li>
                <li>Aluminum Case</li>
            </ul>
        </div>
    </div>
</div>

<div class="product-page-features">Hardware Specifications</div>
<div class="container-fluid product-page-sa-101">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/images/sa-101-mic.jpg" alt="sa101-product-img-mic" class="product-image-main-2">                
        </div>
        <div class="col-sm-8">
            <div class="product-description-title">
                <h2>DAQ Specification</h2>
            </div>
            <div class="product-descriptions">
                <ul class="product-descriptions">
                    <li>A/D Converter : 24 Bit</li>
                    <li>Input Channel (Type) : 1 Channel (IEPE)</li>
                    <li>Sampling Frequency : 51,200 Hz</li>
                    <li>Input Range : ±5V(peak) or ±2.5V(peak)</li>
                    <li>Dynamic Range : 37 ~ 160dB (50mV/g x 10Gain)</li>
                    <li>Input Signal Gain : 2, 4, 8, 16, 32, 64</li>
                    <li>SNR (Signal to noise ratio) : 100dB More</li>
                    <li>Frequency Range : 0.5 ~ 25kHz (3dB)</li>
                </ul>
            </div>
            <div class="product-description-title">
                <h2>PDA Specification</h2>
            </div>
            <div class="product-descriptions">
                <ul class="product-descriptions">
                    <li>Operating System :  WinCE 5.0</li>
                    <li>LCD : 3.5” 240 * 320 TFT-LCD + TSP</li>
                    <li> Battery : Lithium Polymer 4000mhA (Removable)</li>
                    <li>Power : 5V, 3A</li>
                    <li>International Protection : IP64</li>
                    <li>Operating Temperature : -20℃ ~ 60℃ (-4℉ ~ 140℉)</li>
                    <li>Storage Temperature : -30℃ ~ 70℃ (-22℉ ~ 158℉)</li>
                    <li>Humidity : 5% ~ 95% Non-condensing</li>
                </ul>
            </div>
        </div>
    </div> 
</div>

<div class="product-page-features">Measurement & Analysis Software </div>
<div class="container-fluid product-page-sa-101">
    <div class="product-description-title">
        <h2>Sound Level Meter (SLM)</h2>
    </div>
    <ul class="product-descriptions">
        <li>Standards : IEC61672-1 Class1, IEC60651 Type1</li>
        <li>Frequency Range : 0.5 ~ 25kHz</li>
        <li>Freq. Weighting : A, B, C, Z</li>
        <li>Time Weighting : Fast, Slow, Impulse</li>
        <li>Integration Time : 0.125, 0.25, 0.5, 1, 2, 5, 10 sec</li>
        <li>Dynamic Range, Linearity : 120dB more</li>
        <li>Display Mode : Digital Value, Compare, Graph</li>
        <li>Detector : Selectable Synchronous 2 Detectors</li>
        <li>Measurement Value : Sound Pressure Level(Lp), Equivalent Noise Level(Leq), <br> Noise Exposure Level(Le), Max, Min SPL, Statistical Noise Level(Ln), Peak Noise Level(Lpeak) </li>
    </ul>
</div>
<div class="container-fluid product-page-sa-101">
    <div class="product-description-title">
        <h2>Frequency Analysis (FFT)</h2>
    </div>
    <ul class="product-descriptions">
        <li>Frequency : Selectable 200Hz ~ 25kHz</li>
        <li>Buffer Size : Selectable 400, 800, 1600, 3200, 6400 (Max. 3000 Lines)</li>
        <li>Window : Rectangular, Hanning, Flattop</li>
        <li>Average : Linear, Exponential, Peak</li>
        <li>Weight : A, B, C</li>
        <li>Auto Peak Detection Function & Y-axis auto scaling</li>
        <li>Harmonic Cursor</li>
        <li>Post Process : FFT Analysis after Variables Modification such as Band , <br>Buffer Size, Window, Averaging, Weight Compensation</li>
    </ul>
</div>
<div class="container-fluid product-page-sa-101">
    <div class="product-description-title">
        <h2>FFT-based Octave Analysis (OCT)</h2>
    </div>
    <ul class="product-descriptions">
        <li>Frequency : 25kHz</li>
        <li>Buffer Size : 6400</li>
        <li>Window : Rectangular, Hanning, Flattop</li>
        <li>Average : Linear, Exponential, Peak</li>
        <li>Weight : A, B, C</li>
        <li> Y-axis Auto Scaling</li>
        <li>Post Process : FFT Analysis after Variables Modification <br>such as Band , Buffer Size, Window, Averaging, Weight Compensation</li>
    </ul>
</div>
