<div class="container-fluid main-box-1">
  <div class="row">
    <div class="col-sm-5">
        <h1 class="main-box-1-title">About us</h1>
    </div>
    <div class="col-sm-7 main-box-1-image">
      <img src="assets/images/about-us.jpg" alt="about-us-img" class="about-us-image">
    </div>
  </div>
</div>
<div class="container-fluid main-box-2">
  <div class="main-box-2-title">Who we are</div>
    <div class="main-box-2-content">
      We are a specialist in the sound and vibration technologies, Laser fields for displacement, distance and speed, Temperature sensors using Infrared non-contact techniques, Blast and Seismics acceleration, Underwater acoustics, Torsional vibration and simulation.
    </div>
  <div class="main-box-2-title">Our Promise</div>
    <div class="main-box-2-content">
      Here at SV Corporation, we understand that each company has different needs with unique business requirements that does not always compromise for one size fit solutions. Over 26 years, SV Digital has been dedicated to help clients perform their tasks better by delivering effective and reliable solutions that suit custom requirements. Whether you’re searching for advanced instruments for your new projects or just browsing the market to seek upgrade from your current equipments, let us help you get there.
    </div>
  <div class="main-box-2-title">Our Focus</div>
    <div class="main-box-2-content">
      We believe innovation and advanced technology unlocks new and effective ways to improve existing practices. Our products being first in the industry to be based on OS and smartphones technologies with DAQ, we have been seeking innovative approach to design and develop new technologies to meet evolving needs. Our recent technology includes advanced sensors such as MEMS accelerometers, Laser displacement, Time of flight distance, Laser speed sensor, Lidar, and Infrared non-contact temperature sensors.
      <br>
      We have a headquarter and R&D center in Korea, Software algorithm center in India, Hardware development and UI software center in Belirus, Software development center in China, and Marketing support team in USA.
    </div>
</div>
