<div class="container-fluid product-top-section">
    <h1> MA301 Low Frequency 3 Channel Accelerometer</h1>
</div>

<div class="container-fluid product-page-ma-301">
    <div class="product-description-title">
      <h2>Specifications</h2></div>
      <div class="row">
          <div class="col-sm-6">
            <ul class="product-descriptions">
                <li>3 Channel(X, Y, Z-Axis) MEMS sensor signal input (LEMO)</li>
                <li>Typical input: ±2g, 2000mV/g, 0~400Hz range</li>
                <li>Differential amplifier (x1.25 gain)</li>
                <li>1g Offset adjustment</li>
                <li>+5V DC power input & Power LED</li>
                <li>±4V differential or 0.5V - 4.5V single ended outputs or 4 - 20 mA • Galvanized isolation</li>
                <li>Responds to DC & AC Acceleration</li>
                <li>±2g, ±5g, ±10g, ±25g, ±50g, ±100g customized model</li>
                <li>DC 9~12V or 9V battery power input</li>
                <li>OKW A9406352 case + aluminum panel</li>
                <li>Case Operating Temperature: -55 to +125 °C</li>
                <li>Storage Temperature: -55 to +125 °C</li>
                <li>Acceleration Over-range, 2000g for 0.1 ms</li>
                <li>Voltage on VDD to GND: -0.5V to 6.5V</li>
                <li>Voltage on Any Pin (except DV) to GND: -0.5V to VDD+0.5V</li>
                <li>Vontage on DV to GND: ±15V</li>
                <li>Power Dissipation: 50 mW</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <img src="assets/images/ma-301-3ch.jpg" alt="ma301-product-img" class="product-image-main">
          </div>
      </div>
  </div>


  <div>
      <table>
        <tr>
          <th>Input Range(g)</th>
          <th>Frequency Response (Nominal, 3dB, Hz)</th>
          <th>Sensitivity (Differential, mV/g)</th>
          <th>Output Noise, Differential (RMS, typical, μg/root Hz)</th>
          <th>Max. Mechanical Shock (0.1ms, g)</th>
        </tr>
        <tr>
          <td>±2</td>
          <td>0 ~ 400</td>
          <td>2000</td>
          <td>5</td>
          <td rowspan="2">2000</td>
        </tr>
        <tr>
          <td>±5</td>
          <td>0 ~ 600</td>
          <td>800</td>
          <td>7</td>
        </tr>
        <tr>
          <td>±10</td>
          <td>0 ~ 1000</td>
          <td>400</td>
          <td>10</td>
          <td rowspan="4">5000</td>
        </tr>
        <tr>
          <td>±25</td>
          <td>0 ~ 1500</td>
          <td>160</td>
          <td>25</td>
        </tr>
        <tr>
          <td>±50</td>
          <td>0 ~ 2000</td>
          <td>80</td>
          <td>50</td>
        </tr>
        <tr>
          <td>±100</td>
          <td>0 ~ 2500</td>
          <td>40</td>
          <td>100</td>
        </tr>
      </table>
  </div>
  
  <div>
      <table>
          <tr>
              <th colspan="2">PARAMETER</th>
              <th>MIN</th>
              <th>TYP</th>
              <th>MAX</th>
              <th>UNITS</th>
          </tr>
          <tr>
              <td>Cross Axis Sensitivity</td>
              <td></td>
              <td>2</td>
              <td>3</td>
              <td>%</td>
          </tr>
          <tr>
              <td rowspan="2">Bias Calibration Error</td>
              <td>-002</td>
              <td></td>
              <td>2</td>
              <td>4</td>
              <td rowspan="2">% of Span</td>
          </tr>
          <tr>
              <td>-005 thru -400</td>
              <td></td>
              <td>1</td>
              <td>2</td>
          </tr>
          <tr>
             <td rowspan="2">Bias Temperature Shift (Tc=-55 to +125°C)</td>
             <td>-002</td>
             <td></td>
             <td>100</td>
             <td>300</td>
             <td rowspan="2">(ppm of span)/°C</td>
          </tr>
          <tr>
            <td>-005 thru 400</td>
            <td></td>
            <td>50</td>
            <td>200</td>
          </tr>
          <tr>
              <td colspan="2">Scale Factor Calibration Error</td>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td>%</td>
          </tr>
          <tr>
              <td colspan="2">Scale Factor Temperature Shift (Tc=-55 to +125°C)</td>
              <td>-250</td>
              <td></td>
              <td>250</td>
              <td>ppm/°C</td>
          </tr>
          <tr>
              <td rowspan="4">Non-Linearity (-90 to +90% of Full Scale)</td>
              <td>-002 thru -050</td>
              <td></td>
              <td>0.15</td>
              <td>0.5</td>
              <td rowspan="4">% of span</td>
          </tr>
          <tr>
              <td>-100</td>
              <td></td>
              <td>-0.25</td>
              <td>1.0</td>
          </tr>
          <tr>
              <td>-200</td>
              <td></td>
              <td>0.40</td>
              <td>1.5</td>
          </tr>
          <tr>
              <td>-400</td>
              <td></td>
              <td>0.70</td>
              <td>2.0</td>
          </tr>
          <tr>
              <td colspan="2">Power Supply Rejection Ratio</td>
              <td></td>
              <td>25</td>
              <td></td>
              <td>dB</td>
          </tr>
          <tr>
              <td colspan="2">Output Impedance</td>
              <td></td>
              <td>90</td>
              <td></td>
              <td>Ω</td>
          </tr>
          <tr>
              <td colspan="2">Operating Voltage</td>
              <td>4.75</td>
              <td>5.0</td>
              <td>5.25</td>
              <td>Volts</td>
          </tr>
          <tr>
              <td colspan="2">Operating Current (IDD+IVR)</td>
              <td></td>
              <td>8</td>
              <td>10</td>
              <td>mA</td>
          </tr>
          <tr>
              <td colspan="2">Mass: 'L' Package (add 0.06 grams for 'J' package</td>
              <td></td>
              <td>0.62</td>
              <td></td>
              <td>grams</td>
          </tr>
      </table>
  </div>

  
  

  
  
 
  
 
  
  
 
 