<div class="container-fluid product-top-section">
  <h1> IRTC-OF Series - Infared Temperature Sensor</h1>
</div>
<div class="container-fluid product-page-infrared">
  <div class="product-description-title">
    <h2>Main Applications</h2></div>
    <div class="row">
      <div class="col-sm-7">
        <ul class="product-descriptions">
          <li>High precision non-contact temperature measurements</li>
          <li>Thermal Comfort sensor for Mobile Air Conditioning control system</li>
          <li>Temperature sensing element for residential, commercial and industrial building air conditioning Windshield defogging</li>
          <li>Automotive blind angle detection</li>
          <li>Industrial temperature control of moving parts</li>
          <li>Temperature control in printers and copiers</li>
          <li>Home appliances with temperature control</li>
          <li>Healthcare</li>
          <li>Livestock Monitoring</li>
          <li>Movement detection</li>
          <li>Multiple zone temperature control – up to 127 sensors can be read via common 2 wires</li>
          <li>Thermal relay / alert</li>
          <li>Body temperature measurement</li>
        </ul>
      </div>
      <div class="col-sm-5">
        <img src="assets/images/Infrared-main.gif" alt="infared-product-img" class="product-image-main">
      </div>
    </div>
</div>
<div class="specifications-table">
  <table>
    <tr>
      <th>Specifications</th>
      <th>IRTC-OF1</th>
      <th>IRTC-OF2</th>
      <th>IRTC-OF3</th>
    </tr>
    <tr>
      <td class="col-1">Measurement range</td>
      <td>-20 to 400°C</td>
      <td>-20 to 500°C</td>
      <td>-20 to 1000°C</td>
    </tr>
    <tr>
      <td class="col-1">Accuracy</td>
      <td colspan="3">±1% full scale</td>
    </tr>
    <tr>
      <td class="col-1">Resolution</td>
      <td colspan="3">0.1°C</td>
    </tr>
    <tr>
      <td class="col-1">Field of view(D:S)</td>
      <td colspan="3">15:1</td>
    </tr>
    <tr>
      <td class="col-1">Optical spectrum wave</td>
      <td colspan="3">8 to 14 µm</td>
    </tr>
    <tr>
      <td class="col-1">Response Time</td>
      <td colspan="3">100ms</td>
    </tr>
    <tr>
      <td class="col-1">Emissive rate</td>
      <td colspan="3">0.95 and adjust use PC</td>
    </tr>
    <tr>
      <td class="col-1">Analogue output</td>
      <td colspan="3">4 to 20mA (0 to 5V or 0 to 10V option)</td>
    </tr>
    <tr>
      <td class="col-1">Interface</td>
      <td colspan="3">RS485</td>
    </tr>
    <tr>
      <td class="col-1">Power</td>
      <td colspan="3">12 to 24 VDC</td>
    </tr>
    <tr>
      <td class="col-1">Ambient temperature</td>
      <td colspan="3">-40 to 80°C</td>
    </tr>
    <tr>
      <td class="col-1">Cable length</td>
      <td colspan="3">1/3/8m or customized length</td>
    </tr>
  </table>
</div>

<div class="focus-size-table">
  <table>
    <th>Distance</th>
    <th>100</th>
    <th>200</th>
    <th>300</th>
    <th>400</th>
    <th>500</th>
    <th>600</th>
    <th>700</th>
    <th>800</th>
    <th>900</th>
    <th>1000</th>
    <tr>
      <td>Spot size</td>
      <td>3.84</td>
      <td>7.68</td>
      <td>11.52</td>
      <td>15.36</td>
      <td>19.20</td>
      <td>23.04</td>
      <td>26.88</td>
      <td>30.72</td>
      <td>34.56</td>
      <td>38.40</td>
    </tr>
  </table>
</div>
<div class="container-fluid infrared-advantages">
    <div class="product-description-title">
        <h2>Advantages of Infrared Thermometry</h2>
    </div>
    <ul class="product-descriptions">
        <li>It is fast (in the ms range)-time is saved, allowing for more
            measurements and accumulation of data (determination of
            temperature field).</li>
        <li>It facilitates measurement of moving targets (conveyor processes).</li>
        <li>Measurements can be taken of hazardous or physically inaccessible
            objects (high-voltage parts, great measurement distance).</li>
        <li>Measurements of high temperatures (greater than 1300°C) present
            no problems. In similar cases, contact thermometers cannot be used,
            or have a limited life.</li>
        <li>There is no interference-no energy is lost from the target. For example,
            in the case of a poor heat conductor such as plastic or wood,
            measurements are extremely accurate with no distortion of measured
            values, as compared to measurements with contact thermometers.</li>
        <li>There is no risk of contamination and no mechanical effect on the
            surface of the object; thus wear-free. Lacquered surfaces, for example,
            are not scratched and soft surfaces can also be measured.</li>
      </ul>
</div>
<div class="container-fluid product-page-section">
    <h2>PC Software for Analysis & Reports</h2>
    <div class="row">
      <div class="col-sm-6">
          <img src="assets/images/sa-101-macbook.png" alt="sv1-product-img" class="product-image product-image-4">
      </div>
      <div class="col-sm-6">
          <ul class="product-descriptions-right">
            <li>The user can store the measured data in SD card to do the post processing, analysis and report PC.</li>
          </ul>
        </div> 
    </div>
   
  </div>