.product-top-section{
  background-image: url('../../../assets/images/product-top-background.jpg');
  background-size: 100%;
  height: 400px;
}

.product-page-pa-201 {
  margin-top: 10vh;
  background-color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  display: inline-block;
  /* margin-bottom: 10vh; */
}

.channel-select-botton-box{
  font-size: 2.2vw;
  font-weight: bold;
  margin-top: 20px;
}

.product-image{
  width: 30vw;
  position:relative;
  z-index: 1;
}

.product-image-center{
  margin-top: 7vh;
  margin-bottom: 5vh;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

figure{
  display: inline-block;
  margin:0;
  padding-left: 5vw;
}

figcaption{
  text-align: center;
  font-size: 1.2vw;
  padding-top: 2vh;
  padding-bottom: 7vh;
}
