.product-page-pa-201 {
  background-color: white;
  padding-top: 50px;
  padding-left: 10vw;
  display: inline-block;
  /*padding-right: 10vw;*/
}

.channel-select-botton-box{
  /*background-color: lightgray;*/
  font-size: 2.2vw;
  font-weight: bold;
  margin-top: 20px;
}

.btn-group{
  border-style: none;
  box-sizing: inherit;
}

.product-image{
  /*float: right;*/
  display: inline-block;
  width: 60%;
  position:relative;
  z-index: 1;
}

.btn{
  width: 160%;
}
